/*-------------- Reset ---------------*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
pre, form, fieldset, input, textarea, p, blockquote, th, td { 
	padding: 0;
	margin: 0;
	}
fieldset, img { 
	border: 0;
	}
table {
	border-collapse: collapse;
	border-spacing: 0;
	}
ol, ul {
	list-style: none;
	}
address, caption, cite, code, dfn, em, strong, th, var {
	font-weight: normal;
	font-style: normal;
	}
caption, th {
	text-align: left;
	}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-size: 100%;
	}
q:before, q:after {
	content: '';
	}
abbr, acronym { 
	border: 0;
	}

/*-------------- General Selectors ---------------*/

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../font/BebasNeue-webfont.eot');
    src: url('../font/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/BebasNeue-webfont.woff') format('woff'),
         url('../font/BebasNeue-webfont.ttf') format('truetype'),
         url('../font/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
	background-image: url(../img/bg-pattern.jpg);
	font: 62.5% Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, nav {
	font-family: 'BebasNeueRegular', Helvetica, Arial, sans-serif;

}

h3, h4, h5 {
	color: #bcc985;
	text-align: center;
}

h3 {
	font-size: 5.6em;
}

h4 {
	font-size: 2.4em;
}

a, p, small, h5, dd, label {
	color: #fdffe8;
}

a, p, h5, dt, dd, label {
	font-size: 1.8em;
}

a {
	text-decoration: none;
}

p {
	line-height: 22px;
}

/*------------------ Header -------------------*/
header {
	background-color: #bcc985;
	overflow: hidden;
	padding: 1.4035088% 0;
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0, .2);
	-moz-box-shadow: 0 2px 5px rgba(0,0,0, .2);
	box-shadow: 0 2px 5px rgba(0,0,0, .2);
}

.logo {
	background: url(../img/logo.jpg) no-repeat;
	height: 84px;
	text-indent: -9999em;
	margin-top: 2.0107239%;
}

.business {
	float: right;
	margin-right: 0;
	color: #404040;
}

.business h2 {
	font-size: 1.2em;
}

.business-column {
	float: left;
	font-size: 1.6em;
	padding-right: 4.2735043%;
}

.business-column:last-child {
	padding-right: 0;
}

/*------------------ Naviation -------------------*/

nav {
	margin: 2.6315789% 0;
}

nav ul {
	width: 47.3684211%;
	margin: 0 auto;
}

nav li {
	float: left;
	width: 15.7407407%;
	text-align: center;
	background: url(../img/nav.png) no-repeat .35% 4.706%;
	height: 63px;
}

nav li:hover {
	background-position: .35% 87.059%;
}

nav a {
	display: block;
	height: 63px;
	text-indent: -9999em;
}

.home-active {
	background-position: .35% 87.059%;
}

/*----- Repairs -----*/

.repairs {
	background-position: 20.224% 4.706%;
	width: 16.6666667%;
}

.repairs:hover {
	background-position: 20.224% 87.059%;
}

.repairs-active {
	background-position: 20.224% 87.059%;
}

/*----- FAQS -----*/

.faqs {
	background-position: 40% 4.706%;
	width: 12.962963%;
}

.faqs:hover {
	background-position: 40% 87.059%;
}

.faqs-active {
	background-position: 40% 87.059%;
}

/*----- Coupons -----*/

.coupons {
	background-position: 59.69% 4.706%;
	width: 18.5185185%;
}

.coupons:hover {
	background-position: 59.69% 87.059%;
}

.coupons-active {
	background-position: 59.69% 87.059%;
}

/*----- Location -----*/

.location {
	background-position: 79.142% 4.706%;
	width: 18.5185185%;
}

.location:hover {
	background-position: 79.142% 87.059%;
}

.location-active {
	background-position: 79.142% 87.059%;
}

/*----- Contact -----*/

.contact {
	background-position: 98.456% 4.706%;
	width: 17.5925926%;
}

.contact:hover {
	background-position: 98.456% 87.059%;
}

.contact-active {
	background-position: 98.456% 87.059%;
}

/*------------------ CTA -------------------*/

#shadow {
	box-shadow: 0 0 8px rgba(0,0,0, .3);
}

#cta {
	background: url(../img/cta.jpg) no-repeat;
	height: 368px;
	text-shadow: 0 1px 0 rgba(0,0,0, .3);
}

#cta h3 {
	text-align: center;
	color: #bcc985;
	font-size: 7.1em;
	padding-top: 5%;
}

#cta p {
	width: 52.6315789%;
	margin: 0 auto 1.754386%;
	text-align: center;
}

#cta a {
	display: block;
	width: 13.1578947%;
	background: #dd7033; /* Old browsers */
	background: -moz-linear-gradient(top,  #dd7033 0%, #c33f1d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dd7033), color-stop(100%,#c33f1d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #dd7033 0%,#c33f1d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #dd7033 0%,#c33f1d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #dd7033 0%,#c33f1d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #dd7033 0%,#c33f1d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd7033', endColorstr='#c33f1d',GradientType=0 ); /* IE6-9 */
	border: 1px solid #d05728;
	padding: .75em;
	margin: 0 auto;
	text-align: center;
	box-shadow: 0 0 5px rgba(0,0,0, .2);
}

/*------------------ Info Boxes -------------------*/

#repair-info h4{
	background: url(../img/controller.png) no-repeat 50% 0;
}

#price-info h4{
	background: url(../img/price.png) no-repeat 50% 0;
}

#customer-info h4{
	background: url(../img/person.png) no-repeat 50% 0;
}

.column {
	background: #3d3d3d; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #3d3d3d 0%, #313131 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#3d3d3d), color-stop(100%,#313131)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #3d3d3d 0%,#313131 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #3d3d3d 0%,#313131 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #3d3d3d 0%,#313131 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #3d3d3d 0%,#313131 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#313131',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	height: 345px;
	border: 1px solid #2c2c2c;
	margin: 2.5470085% 3.3960114% 2.5470085% 0;
}

.column:last-child {
	margin-right: 0;
}

.column h4 {
	color: #bcc985;
	text-align: center;
	margin-top: 9.97151%;
	font-size: 2.2em;
	padding-top: 32.7635328%;
}

.column p {
	padding: 2.8490028% 1.4245014% 0;
	margin-left: 1.4245014%;
}

/*------------------ FAQs -------------------*/

#faq-content dt {
	color: #bcc985;
}

#faq-content dd {
	line-height: 22px;
	margin-bottom: 1.3157895%;
}

#faq-content dt:nth-child(8) {
	margin-top: -6.5789474%;
}

#faq-content dd:nth-child(9) {
	margin-top: -4.8245614%;
}

#faq-content dt:nth-child(12) {
	margin-top: -6.5789474%;
}

#faq-content dd:nth-child(13) {
	margin-top: -4.8245614%;
}

/*------------------ Repairs -------------------*/

.console {
	margin-bottom: 1.754386%;
}

.console img {
	border: 1px solid #2c2c2c;
}

.odd, .even {
	padding: 3.2679739%;
}

.odd {
	background-color: #5d6663;
}

.even {
	background-color: #727C79;
}

/*------------------ Coupons -------------------*/

#coupons-content {
	margin-bottom: 1.4064698%;

}

.coupon {
	background: #3d3d3d; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #3d3d3d 0%, #313131 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#3d3d3d), color-stop(100%,#313131)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #3d3d3d 0%,#313131 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #3d3d3d 0%,#313131 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #3d3d3d 0%,#313131 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #3d3d3d 0%,#313131 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#313131',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	height: 200px;
	border: 1px solid #2c2c2c;
	margin-right: 1.754386%;
}

.coupon h4 {
	padding-top: 22.7920228%;
}

.coupon small {
	display: block;
	width: 85.4700855%;
	text-align: center;
	margin: 0 auto;
}

/*------------------ Location -------------------*/

#location-content img {
	margin: auto 4.3859649% auto 8.7719298%
}

#location-content p {
	margin: 0 auto 1.754386%;
	text-align: center;
}

/*------------------ Contact -------------------*/

#contact-content {
	margin-bottom: 1.4064698%;
}

.form-column {
	width: 26.3157895%;
	float: left;
	margin-left: 250px;
}

.even-column {
	margin-left: 1.754386%;
}

label {
	font-size: 1.4em;
}

label, input, select {
	display: block;
	width: 100%;
	margin: 0 auto;
}

input, select {
	margin-bottom: 3.3333333%;
	height: 25px;
}

input, select, textarea {
	background-color: #5d6663;
	border: none;
}

textarea {
	width: 54.3859649%;
	margin: auto auto .877193% 21.9298246%;
}

.comments label {
	float: left;
	margin-left: 21.9298246%;
}

#submit {
	color: #fdffe8;
	width: 8.7719298%;
	margin-left: 67.5438596%;
	background: #dd7033; /* Old browsers */
	background: -moz-linear-gradient(top,  #dd7033 0%, #c33f1d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dd7033), color-stop(100%,#c33f1d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #dd7033 0%,#c33f1d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #dd7033 0%,#c33f1d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #dd7033 0%,#c33f1d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #dd7033 0%,#c33f1d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd7033', endColorstr='#c33f1d',GradientType=0 ); /* IE6-9 */
}

/*------------------ Footer -------------------*/

footer {
	background-color: #5d6663;
	font-size: 1.4em;
	line-height: 100px;
}

.social a {
	display: block;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	width: 14.3426295%;
	height: 20px;
	float: left;
	padding-top: 32%;
	margin-left: 5.9760956%;
}

.myspace {
	background: url(../img/myspace.gif) no-repeat 50%;
}

.facebook {
	background: url(../img/facebook.gif) no-repeat 50%;
}

.twitter {
	background: url(../img/twitter.gif) no-repeat 50%;
}

/*------------------ Media Queries -------------------*/

@media screen and (max-width: 1023px) {
	.logo {
		margin-left: 2.5%;
	}
	.business {
		margin-top: 2.5%;
	}

	nav ul {
		width: 55%;
	}

	h3 {
		margin: 2% auto;
	}

	#cta h3 {
		margin: 5% auto 2%;
	}

	.column h4 {
		padding-top: 40%;
	}

	#location-content img {
		margin-left: 3%;
	}

	#location-content small {
		display: none;
	}

	.comments label {
		margin-left: 26%;
	}

	#contact-content textarea {
		margin-left: 26%;
	}

	#submit {
		margin-left: 71.6%;
	}

	footer small {
		margin-left: 2%;
	}

	.row > small {
		margin-right: 0;
	}

}

@media screen and (max-width: 960px) {
	#location-content img {
		margin-left: 0;
	}
}

@media screen and (max-width: 768px) {
	.logo {
		margin: 0 auto;
	}

	.business-column:first-child {
		margin-left: -10%;
	}

	.business-column {
		font-size: 1.4em;
		padding-right: 2%;
	}

	nav ul{
		width: 70%;
	}

	 h3 {
	 	margin: 2%;
	 }

	#shadow {
		box-shadow: none;
	}

	#cta {
		width: 95%;
	}

	#cta h3 {
		margin: 5% auto;
	}

	#cta p {
		width: 70%;
	}

	#cta a {
		width: 40%;
	}

	.column {
		margin-right: .9%;
	}

	.column h4 {
		padding-top: 50%;
	}

	.column p {
		padding: 3% 5%;
	}

	.coupon small {
		font-size: 1.4em;
	}

	#location-content img {
		margin-left: 20%;
	}

	#location-content p {
		width: 80%;
		margin-left: 5%;
	}

	iframe {
		margin-left: 20%;
	}

	form {
		margin-left: -10%;
	}

	#location-content small {
		display: none;
	}

	textarea {
		margin-left: 33%;
	}

	.comments label {
		margin-left: 33%;
	}

	#submit {
		width: 20%;
	}

	.social a {
		padding-top: 40%;
	}

}

@media screen and (max-width: 767px) {
	#cta h3 {
		font-size: 3.6em;
	}

	#cta p {
		font-size: 1.4em;
	}

	#cta a {
		font-size: 1.2em;
	}
	
	.column h4 {
		margin-top: 0;
		padding-top: 20%
	}

	.column p {
		line-height: .9em;
	}

	#repair-info h4{
	background: url(../img/controller.png) no-repeat 50% 20%;
}

	#price-info h4{
		background: url(../img/price.png) no-repeat 50% 20%;
	}

	#customer-info h4{
		background: url(../img/person.png) no-repeat 50% 20%;
	}

	.row > small {
		padding-left: 5%;
	}

	.social {
		margin-bottom: 5%;
	}

	.social a:first-child {
		margin-left: 40%;
	}

	.social a {
		padding: 0 0;
		margin: auto auto;
		width: 10%;
	}

}

@media screen and (max-width: 730px) {
	.home {
		display: none;
	}

	nav ul {
		width: 80%;
	}
}

@media screen and (max-width: 730px) {
	
	nav ul {
		width: 82%;
	}
}

@media screen and (max-width: 380px) {
	.logo {
		background: url(../img/logo-380.jpg) no-repeat;
		margin: auto auto -5% 0;'
	}

	.business {
		font-size: .6em;
		margin: auto auto;
	}

	.business-column:first-child {
		margin-left: 6%;
	}

	.business-column {
		padding-right: 7%;
	}

	.home {
		display: none;
	}

	nav {
		margin: 10% auto 0;
	}

	nav ul {
		width: 100%;
	}

	nav li {
		background-image: none;
		padding: 0 1%;
	}

	nav a {
		text-indent: 0;
		font-size: 1.4em;
	}

	.repairs {
		width: auto;
	}

	.faqs {
		width: auto;
	}

	.coupons {
		width: auto;
	}

	.location {
		width: auto;
	}

	.contact {
		width: auto;
	}

	#shadow {
		box-shadow: none;
	}

	#cta h3 {
		padding-top: 20%;
		font-size: 3.5em;
		margin-bottom: 2%;
	}

	#cta p {
		font-size: .9em;
		width: 90%;
	}

	#cta a {
		font-size: .9em;
	}

	.column h4 {
		padding-top: 50%;
	}

	.column p {
		font-size: .9em;
	}

	h3 {
		margin: 4% auto 5%;
		font-size: 2.0em;
	}

	h4 {
		font-size: 1.8em;
	}

	h5 {
		font-size: 1.4em;
	}

	.console img {
		margin-left: 25%;
	}

	#faq-content dt:nth-child(8) {
		margin: 7.5789474% auto;
	}

	#faq-content dd:nth-child(9) {
		margin: 7.5789474% auto;
	}

	#faq-content dt:nth-child(12) {
		margin: 7.5789474% auto;
	}

	#faq-content dd:nth-child(13) {
		margin: 7.5789474% auto;
	}

	#location-content img {
		margin: auto;
	}

	#location-content p {
		font-size: 1.2em;
	}

	#location-content p:last-child {
		font-size: .8em;
	}

	iframe {
		display: none;
	}

	.form-column {
		width: 90%;
		float: none;
		margin-left: 0;
	}

	.even-column {
		margin-left: 0;
	}

	label, input, select {
		display: block;
		width: 67%;
		margin: 0  0 0 29%;
	}

	input, select {
		margin-bottom: 5%;
		height: 25px;
	}

	textarea {
		width: 60%;
	}

	.comments label {
		float: none;
		margin-left: 26%;
	}

	#submit {
		height: 50px;
		width: 60%;
		margin-left: 26%;
	}

	dd, dt {
		font-size: 1.4em;
	}

	footer small {
		font-size: .6em;
	}

	.social a {
		padding-top: 2%;
		margin: auto auto 5% 13%;
	}
	
}

@media screen and (max-width: 320px) {
	.logo {
		background: url(../img/logo-320.jpg) no-repeat;
		margin: auto auto -5% 0;
		height: 66px;
	}

	.business {
		font-size: .5em;
	}

	.business-column {
		/*padding-left: 7%;*/
	}

	nav li {
		height: 44px;
	}

	nav a {
		font-size: 1.2em;
	}

	.column h4 {
		padding-top: 50%;
	}

	footer small {
		font-size: .5em;
	}

	dd, dt {
		font-size: 1.2em;
	}

	#contact-content textarea {
		margin-left: 5%;
	}

	iframe {
		display: none;
	}

	form {
		margin-left: 3%;
	}

	textarea {
		margin-left: 26% !important;
	}

	#location-content p:last-child {
		font-size: .8em;
		width: 95%;
		margin-left: 0;
		padding: 0 1%;
	}

	.social {
		width: 100% !important;
		margin-left: -25% !important;
	}

}