html {
	background-color: #788;
}

body {
	width: 978px;
	margin: 0 auto;
	background-color: #eed;
	color: #444;
	box-shadow: 0 0 10px rgba(0,0,0, .5)
}

h1, h2, h3, h4 {
	margin: 0;
	padding-left: 10px
}

h1 {
	background-color: #444;
	color: #eed;
	padding: 15px 0;
	text-align: center;
}

ul {
	list-style: square;
}

p {
	padding: 0 20px;
}

a {
	color: #599;
}

#intent {
	margin: 25px 10px;
}

#competitive {
	color: #eed;
	background-color: #444;
	padding: 25px 10px;
}

#competitive h3 {
	margin-bottom: 5px;
}

#target {
	padding-bottom: 10px;
	margin: 25px 10px 0;
}
